<div class="row" style="margin-top: 20px;">
  <div class="col-sm-12 blog-main">


    <div class="blog-post">
      <h2 class="blog-post-title">
        &lt; Announcing a small snippet view redesign and Snippstickers! &gt;
      </h2>
      <div class="blog-post-meta">9 months ago by msurguy in

        <a href="http://bootsnipp.com/blog/category/news">News</a>,
        <a href="http://bootsnipp.com/blog/category/updates">Updates</a>				                				<br>
        <p class="blog-post-tags">
          <span class="glyphicon glyphicon-tags"> </span>&nbsp;

          <a href="http://bootsnipp.com/blog/tag/announcement">announcement</a>								</p>
      </div>

      <div class="blog-post-body">
        <p>A few small updates that are happening on Bootsnipp:</p><p><strong>Layout updates</strong></p><p>Thanks to one of the Bootsnipp's users, the design of the snippet viewer has been upgraded and is now more streamlined. The changes are outlined in the image below:</p><p><img src="http://bootsnipp.com/uploads/blog/2014-04-01/bootstrap_blog_NxCj.jpg"></p><p><strong>Snippstickers</strong>:</p><p>Also, you can now own a piece of history by purchasing a Bootsnipp sticker! The stickers look very good on any flat surface, for example on a computer:</p><p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=YELNJVCJXMDJJ" target="_blank"><img src="http://bootsnipp.com/uploads/blog/2014-04-01/bootstrap_blog_ex90.jpg" alt="Bootstrap stickers"></a></p><p>When you buy a sticker, you support Bootsnipp's maintenance and also get a nice perk in return. Shipping is included in the low price of $5. You can order the stickers&nbsp;on Paypal <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=YELNJVCJXMDJJ">here</a> or on Gumroad <a href="http://gum.co/bootsnipp">here</a>. The are going quickly and there's a limited number of them printed, make sure to buy them now!&nbsp;</p><p>Enjoy using Bootsnipp!</p>
      </div>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title">
        &lt; Three new features on Bootsnipp &gt;
      </h2>
      <div class="blog-post-meta">10 months ago by msurguy in

        <a href="http://bootsnipp.com/blog/category/updates">Updates</a>				                				<br>
        <p class="blog-post-tags">
          <span class="glyphicon glyphicon-tags"> </span>&nbsp;

          <a href="http://bootsnipp.com/blog/tag/announcement">announcement</a>								</p>
      </div>

      <div class="blog-post-body">
        <p>Today I have built three new features for Bootsnipp users. These new features are ability to download snippets (for registered and logged in users only), viewing snippets in full screen preview and if a snippet was forked - seeing its parent snippet.</p><p>You can see these new features under a little dropdown menu next to the snippet action bar:</p><p><img src="http://bootsnipp.com/uploads/blog/2014-03-06/bootstrap_blog_lPCD.jpg"></p><p>Some of these features came from users' feedback, thank you for thinking about ways of making Bootsnipp better.</p><p>Enjoy these new features and keep the feedback coming by clicking on the question mark in the bottom right corner of every page on Bootsnipp.</p>
      </div>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title">
        &lt; Announcing blog &amp; related snippets! &gt;
      </h2>
      <div class="blog-post-meta">11 months ago by msurguy in

        <a href="http://bootsnipp.com/blog/category/news">News</a>,
        <a href="http://bootsnipp.com/blog/category/updates">Updates</a>				                				<br>
        <p class="blog-post-tags">
          <span class="glyphicon glyphicon-tags"> </span>&nbsp;

          <a href="http://bootsnipp.com/blog/tag/announcement">announcement</a>,
          <a href="http://bootsnipp.com/blog/tag/snippets">snippets</a>								</p>
      </div>

      <div class="blog-post-body">
        <p>Hello, Bootsnipp users! I've built some cool new features for Bootsnipp. First one is this very blog that you are reading, and the second one is showing related snippets on a featured snippet page.&nbsp;</p><h2>Blog</h2><p>I always wanted to have an easy way to have users of this site updated and today I have finished building the blog administration for Bootsnipp. I will usually announce all new posts on Twitter so if you'd like to stay up to date, please follow the&nbsp;<a href="http://twitter.com/bootsnipp" target="_blank">Twitter account for Bootsnipp</a>. The blog will showcase some of the best snippets, prominent members of the community and cool new resources that are made by the community.</p><h2>Related Snippets</h2><p>I wanted to create an easy way for you to browse snippets on Bootsnipp and showing related snippets under snippet preview seemed like a good idea (also affirmed by some users). You can see this in action by going to any featured snippet(like&nbsp;<a href="http://bootsnipp.com/snippets/featured/registration-form" target="_blank">this one</a>) and scrolling down below the snippet preview.</p><p>You will see a row of snippets that are related to the one you are currently browsing (related through the tags). Here is how it looks:</p><p><a href="http://bootsnipp.com/snippets/featured/registration-form" target="_blank"><img class="img-responsive" src="http://bootsnipp.com/uploads/blog/2014-02-08/bootstrap_blog_rizg.jpg" alt="Snippets related to a login form"></a></p><p>This way you can check out other snippets and find more inspiration.</p><p>This is all for now. Enjoy your stay on Bootsnipp and continue creating many more new awesome snippets!</p>
      </div>
    </div>


  </div>
  <div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About Bootsnipp Blog</h4>
      <p>Highlighting important changes happening on Bootsnipp, members of the community and latest and greast snippets</p>
    </div>
    <div class="sidebar-module">
      <h4>Subscribe to updates</h4>
      <div id="mc_embed_signup">
        <form action="http://bootsnipp.us5.list-manage.com/subscribe/post?u=ab6dc620bc8c59e4783d7843d&amp;id=dad3baa240" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div class="input-group">
            <input type="email" value="" placeholder="E-mail address" name="EMAIL" class="required email form-control" id="mce-EMAIL">
			    <span class="input-group-btn">
				<input type="submit" class="button btn btn-default" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
			    </span>
          </div>
        </form>
      </div>
      <p><small>(only important Bootsnipp updates will be sent, your email is never shared or sold to anyone else)</small></p>
    </div>
  </div><!-- /.blog-sidebar -->
</div>